# Mission to Mars Notebook

In [1]:
# Import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup 
import re
import time
import pandas as pd

In [6]:
# Initialize executable path for the chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

## STEP1: Scraping

### Initiate Scrape for NASA Mars News Site

In [8]:
# Scrape "NASA Mars News" website for news info, link given(click on it)
mars_nasa_url = "https://mars.nasa.gov/news/"

# Retrieve page with Splinter
browser.visit(mars_nasa_url)
time.sleep(2)

# Create BeautifulSoup object and parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#### Find latest news titles and paragraphs

In [187]:
# Assign the title and paragraphs so you can reference later.
news_title_list = []
news_p_list = []

# Extract all articles and put into lists
results = soup.find_all('li', class_='slide')
for result in results:
        # Error handling
    try:
        # Retrieve news title
        nasa_news_title = result.find('div', class_="content_title").a.text
        # Retrieve news paragraph text
        nasa_news_p = result.find('div', class_="article_teaser_body").text

        # Print results only if title and paragraph text are available
        if (nasa_news_title and nasa_news_p):
            news_title_list.append(nasa_news_title)
            news_p_list.append(nasa_news_p)
    except AttributeError as e:
        print(e)

In [20]:
# Latest news title
news_title = news_title_list[0]

# Latest news paragraph text
news_p = news_p_list[0]

print("Title:",news_title)
print('-----------------------------------------------------------------------------------------------------------------')
print("Latest News Details:",news_p)

Title: NASA's InSight Detects First Likely 'Quake' on Mars
-----------------------------------------------------------------------------------------------------------------
Latest News Details: While their causes are still unknown, one of three shaking events looks a lot like the quakes detected on the Moon by the Apollo missions.

## JPL Mars Space Images
(https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars)

In [149]:
# Define URL
jpl_domain = 'https://www.jpl.nasa.gov'
jpl_path = '/spaceimages/?search=&category=Mars'
jpl_url = jpl_domain + jpl_path

# Use Splinter to open up web browser to main page
browser.visit(jpl_url)
time.sleep(2)

In [150]:
# Open the main image
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(1)

# Open 'more info' page
browser.click_link_by_partial_text('more info')
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [151]:
# Obtain URL for featured image(make sure its 'largesize' in URL)
main_img = soup.find('img', class_="main_image")['src']
featured_image_url = jpl_domain + main_img
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA10181_hires.jpg

## Mars Weather
(https://twitter.com/marswxreport?lang=en)

In [169]:
# Scrape "Twitter" website for Mars weather info, link given(click on it)
mars_weather_url = 'https://twitter.com/marswxreport?lang=en'

# Retrieve page with Splinter
browser.visit(mars_weather_url)
time.sleep(2)

# Create BeautifulSoup object and parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#### Find latest weather news

In [173]:
# Retrieve the latest weather news 
weather_news_list = []
for weather_news in soup.find_all('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"):
    weather_news_list.append(weather_news.text)
    
# Assign the list/dict
Latest_Mars_Weather = weather_news_list[0]
mars_weather_dict = {"mar_weather": Latest_Mars_Weather }

# print mars info
print('Latest Mars Weather:',Latest_Mars_Weather)

Latest Mars Weather: InSight sol 143 (2019-04-22) low -98.0ºC (-144.3ºF) high -19.8ºC (-3.7ºF)
winds from the SW at 4.5 m/s (10.1 mph) gusting to 12.1 m/s (27.2 mph)
pressure at 7.40 hPapic.twitter.com/EOazNkJqjD

## Mars Facts
(https://space-facts.com/mars/)

#### Using Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [181]:
# Import pandas library
import pandas as pd

# Generate DataFrame using Pandas to pull html table and put into a list
mars_facts_url = 'https://space-facts.com/mars/'
mars_facts_list = pd.read_html(mars_facts_url)

In [182]:
# Put list into a dataframe and format
mars_facts_df = mars_facts_list[0]
mars_facts_df.columns = ['Description', 'Value']
mars_facts_df.set_index('Description', inplace=True)
mars_facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [211]:
# Convert dataframe into an html 
marsfacts_table = mars_facts_df.to_html()
marsfacts_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres 
(https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars)

In [212]:
# Define URL
usgs_domain = 'https://astrogeology.usgs.gov'
usgs_path = '/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
usgs_url = usgs_domain + usgs_path

# Use Splinter to open up web browser to main page
browser.visit(usgs_url)
time.sleep(2)

# Create BeautifulSoup object and parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [213]:
# Assign images to list so you can reference later.
hemisphere_image_urls = []

# Find the images
results = soup.find('div', class_='collapsible results').\
           find_all('div', class_='item')

for result in results:
    
    # Go to image page
    go_to = result.find('div', class_='description').a.h3.text
    browser.click_link_by_partial_text(go_to)
    time.sleep(2)
    
    # Retrieve the image url
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    path_to_img = soup.find('img', class_='wide-image')['src']
    
    # Create and Append the dictionary with the image url string and the hemisphere title to a lists
    all_images = {}
    all_images["title"] = re.compile('Enhanced').sub('', go_to).rstrip()
    all_images["img_url"] = usgs_domain + path_to_img
    hemisphere_image_urls.append(all_images)
    
    # Go back to main page
    browser.back()
    time.sleep(2)

In [214]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]